/* Global settings */

/* Global variables */
html {
    --accent: #003d93;
    --accent-light: #0050c0;
    --accent-dark: #00275d;
    --blue: #2f4fb8;
    --purple: #77628E;
    --green: #129A7D;
    --yellow: #E4CA99;
    --grey: #d0d0d0;
    --red: #ec4848;
}

body {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a, a:visited, a:hover {
    color: var(--blue);
}

.subtitle {
    font-weight: 300;
}

.form-control:focus, .btn:focus, .btn:focus:active {
    border-color: var(--accent-light);
    box-shadow: 0 0 0 0.25rem var(--accent-light);
}

.accent {
    color: var(--accent);
}

.accent-bg {
    border-color: var(--accent);
    background-color: var(--accent);
    color: #fff;
}

.accent-bg:hover, .accent-bg:focus, .accent-bg:active {
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.purple {
    color: var(--purple);
}

.black {
    color: #000;
}

.yellow {
    color: var(--yellow);
}

/* Anchor link readjustment */

.anchor {
    position: relative;
    top: -110px;
}

/* Profile picture styling */

.profile {
    object-fit: cover;
    border-radius: 50%;
}

/* Social media link styling */

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media > a > i {
    font-size: 1.5rem;
}

/* Icon styling */

i {
    padding-right: 10px;
    color: var(--accent);
}

/* Menu styling */

.menu {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    font-size: 1.2rem;
    transition: background-color .6s ease, color .6s ease;
}

.menu:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}

.menu > .menu-item {
    cursor: pointer;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 4px;
}

.menu > .menu-item:hover:after {
    content: ' ';
    display: block;
    height: 2px;
    margin-top: -2px;
    background-color: var(--accent);
}

.menu-item * a {
    text-decoration: none;
    color: inherit;
}

.menu-icon {
    display: none;
}

/* Highlight the currently active element based on scroll position */
body[data-scroll-position='about'] * .menu > .menu-item[data-menu='about'],
body[data-scroll-position='skills'] * .menu > .menu-item[data-menu='skills'],
body[data-scroll-position='experience'] * .menu > .menu-item[data-menu='experience'],
body[data-scroll-position='contact'] * .menu > .menu-item[data-menu='contact'] {
    background-color: var(--accent);
    color: #FFF;
}

/* Section styling */

.section {
    background-color: #fff;
    padding: 50px;
    border-radius: 4px;
}

/* Skill bar styling */

.skill-bar {
    display: block;
    position: relative;
    width: 80%;
    left: 10%;
}

.skill-bar>.skill {
    display: inline-block;
    position: relative;
}

.skill-bar>.skill:not(:last-of-type) {
    width: 25%;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: -5px;
    background-color: var(--grey);
}

.skill-bar>.skill:last-of-type {
    width: 0px;
}

.skill-bar>.skill:not(:last-of-type):after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    margin-left: -10px;
    border-radius: 50%;
    background-color: var(--grey);
}

.skill-bar>.skill:last-of-type:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -26px;
    border-radius: 50%;
    background-color: var(--grey);
}

/* Rank 1 */
.skill-bar.rank-1>.skill:nth-child(1):after {
    background-color: var(--red);
}
.skill-bar.rank-1>.skill:nth-child(1):before {
    content: "Noob";
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 15px;
}

/* Rank 2 */
.skill-bar.rank-2>.skill:nth-child(-n+2):after,
.skill-bar.rank-2>.skill:nth-child(1) {
    background-color: var(--yellow);
}
.skill-bar.rank-2>.skill:nth-child(2):before {
    content: "Learning";
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 15px;
}

/* Rank 3 */
.skill-bar.rank-3>.skill:nth-child(-n+3):after,
.skill-bar.rank-3>.skill:nth-child(-n+2) {
    background-color: var(--green);
}
.skill-bar.rank-3>.skill:nth-child(3):before {
    content: "Intermediate";
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 15px;
}

/* Rank 4 */
.skill-bar.rank-4>.skill:nth-child(-n+4):after,
.skill-bar.rank-4>.skill:nth-child(-n+3) {
    background-color: var(--blue);
}
.skill-bar.rank-4>.skill:nth-child(4):before {
    content: "Advanced";
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 15px;
}

/* Rank 5 */
.skill-bar.rank-5>.skill:nth-child(-n+5):after,
.skill-bar.rank-5>.skill:nth-child(-n+4) {
    background-color: var(--purple);
}
.skill-bar.rank-5>.skill:nth-child(5):before {
    content: "Expert";
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    top: 0px;
}

/* Work history styling */

.experience {
    max-height: 65vh;
    overflow-y: auto;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.experience::-webkit-scrollbar {
    width: 10px;
}

.experience::-webkit-scrollbar-track {
    background-color: var(--grey);
    border-radius: 5px;
}

.experience::-webkit-scrollbar-thumb {
    background: var(--accent-light);
    border-radius: 5px;
}

.experience::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.work-history {
    position: relative;
    width: calc(100% - 30px);
    margin-left: 30px;
}

.work-history:before {
    display: block;
    position: absolute;
    content: " ";
    height: 100%;
    width: 3px;
    margin-left: -30px;
    background-color: var(--grey);
}

.work-history>.job:before {
    display: block;
    position: absolute;
    content: " ";
    height: 27px;
    width: 27px;
    border-radius: 50%;
    margin-left: -42px;
    margin-top: -3px;
    border: 3px solid var(--green);
    background-color: #FFF;
}

.work-history>.job.blue:before {
    border-color: var(--blue);
}

.work-history>.job.accent:before {
    border-color: var(--accent);
}

.work-history>.job.purple:before {
    border-color: var(--purple);
}

.work-history>.job.green:before {
    border-color: var(--green);
}

.work-history>.job.red:before {
    border-color: var(--red);
}

.work-history>.job:after {
    display: block;
    position: absolute;
    content: " ";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-left: -35px;
    margin-top: -20px;
    background-color: var(--green);
}

.work-history>.job.blue:after {
    background-color: var(--blue);
}

.work-history>.job.accent:after {
    background-color: var(--accent);
}

.work-history>.job.purple:after {
    background-color: var(--purple);
}

.work-history>.job.green:after {
    background-color: var(--green);
}

.work-history>.job.red:after {
    background-color: var(--red);
}

/* Typed.js cursor styling */

.typed-cursor {
    font-size: 2.5rem;
}

/* Responsive handling */

/* Mobile view */
@media (max-width: 576px) {
    .section {
        padding: 30px;
    }
}

/* Tablet view and under */
@media (max-width: 768px) {
    .menu {
        column-gap: initial;
        justify-content: space-around;
    }

    /* Disable active highlight */
    body[data-scroll-position='about'] * .menu > .menu-item[data-menu='about'],
    body[data-scroll-position='skills'] * .menu > .menu-item[data-menu='skills'],
    body[data-scroll-position='experience'] * .menu > .menu-item[data-menu='experience'],
    body[data-scroll-position='contact'] * .menu > .menu-item[data-menu='contact'] {
        background-color: inherit;
        color: inherit;
    }

    .menu > .menu-item:hover:after {
        content: initial;
    }

    .menu-icon {
        display: block;
    }

    .anchor {
        top: -69px;
    }
}

/* Hide content that is only meant for the print-view */
.print-only {
    display: none;
}

/* Create styling for print media - traditional resume view */
@media print {
    @page {
        margin: 0;
    }

    body {
        font-size: 14px;
    }

    .work-history:before {
        margin-left: -31px;
    }

    .container {
        max-width: 95%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333333%;
    }

    .work-history>.job:before {
        height: 25px;
        width: 25px;
    }

    .work-history>.job:after {
        height: 11px;
        width: 11px;
        margin-left: -35px;
        margin-top: -17px;
    }

    .print-only {
        display: flex;
    }

    .no-print {
        display: none;
    }

    .experience {
        max-height: initial;
        overflow-y: initial;
    }

    .experience * a {
        text-decoration: none;
        color: initial;
    }

    .portrait {
        float: left;
        padding-right: 20px;
    }

    .section {
        padding: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
}